table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
}
#gameDescription {
    width: 500px;
}

#winScreen {
    color: green;
    font-size: 40px;
}
#loseScreen {
    color: rgb(128, 0, 0);
    font-size: 40px;
}
#enemyName {
    color:black;
    font-size: 30px;
    line-height: 0px;
    font-style: oblique;
}
#enemyDescription{
    color:rgb(35, 35, 35);
    width: 500px;
}
#eneHP, #eneStr, #eneShield, #turn {
    font-weight: bold;
}
#usrShield, #usrHP, #usrStr, #usrCoins {
    font-weight: bold;
}
#drawButton {
    display: block;
    width: 500px;
    height: 50px;
}
#startButton {
    display: block;
}
.column {
    float: none;
    width: 50%;
}
#shopSide {
    float: none;
}
#gameSide {
    float: none;
}
.shopprice {
    width: 4%;
}
.shopCard {
    width: 12.5%;
}
#draw, #discard {
    width: 50%;
}

#enemyDescriber {
    font: 150%;
    font-weight: bold;
}